html {
background: #ffffff;
font-family: "Arial", Sans-serif;
color: #000000;
}

h1 {
}

#house {
	width: 792px;
	height: 1300px;
	background-image: url('house.png');
	position: relative;
}

img.lamp{
	position: absolute;
	width: 30px;
	height: 48px;
}

noscript {
	color: #ff0000;
}
