html {
background: #ffffff;
font-family: "Arial", Sans-serif;
color: #000000;
}

h1 {
}

#house {
	width: 252px;
	height: 415px;
	background-image: url('../house.png');
	position: relative;
}

img.lamp{
	position: absolute;
	width: 30px;
	height: 48px;
}
